<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="services" type="RiemannHealth.ServiceInfoSection, RiemannHealth" />     
  </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<add key="RiemannHost" value="localhost" />
		<add key="RiemannPort" value="5555" />
    <add key="UseTcp" value="true" />
    <add key="Interval" value="10" />
    <add key="TTL" value="60" />
    <add key="Tags" value="ipc" />    
    <add key="EnableCpu" value="true" />
    <add key="EnableLoad" value="true" />
    <add key="EnableMemory" value="true" />
    <add key="EnableDisk" value="true" />
    <add key="EnableNetwork" value="false" />
    <add key="EnableGCstats" value="false" />
	</appSettings>

  <services>
    <!--<service name="Windows Firewall" />-->
    <!--<service name="Windows Event Log" />-->
    <!--<service name="Windows Event Collector" />-->
  </services>

</configuration>
